# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3

# Environment variables
.env

# Collected static files
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db